
.search{
    min-width:100%;
}
  
table {
    border-collapse: collapse;
    width: 100%;
}
.button{
    border:none;
    background-color:transparent;
}
.edit-button{
  font-size: 10px;
  color: rgb(34, 34, 226);
}
.delete-button{
     color: rgb(212, 47, 47);
     background-color: transparent;
}
@media screen and (min-width: 768px) {
  .app-container {
    padding-top: 20px;
  }
  .search-container{
    padding: 5px;
    width: 70%;
  }
  .not-found-image{
    max-height: 500px;
  }
  .not-found{
    font-size: 30px;
  }
}